@model carsales.Models.Cars
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h4>Available Cars</h4>
<div>Id    : @Model.Id</div>
<div>Brand  : @Model.Brand</div>
<div>Model  : @Model.Carmodel</div>
<div>Make   : @Model.Modelyear</div>
<div>Mileage: @Model.Mileage</div>
<div>Seats  : @Model.Seats</div>
<div>Gearbox: @Model.Gearbox</div>
<div>Price  : @Model.Price</div>